@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #17181f;
}
::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-xelq0e-MuiPickerStaticWrapper-content {
  background: #121212 !important;
  border-radius: 18px !important;
}
.css-1hbyad5-MuiTypography-root {
  color: white !important;
}
.css-fd2y78-MuiSvgIcon-root {
  color: white !important;
}
.css-i4bv87-MuiSvgIcon-root {
  color: white !important;
}
.css-1w13o7u-MuiTypography-root {
  color: white !important;
}
